<div class="container">
    <div class="user-looks-title">
    <h2>My Builds:
      <span class="label label-info">{{ userLooks.length }}</span> Submitted</h2>
    </div>
    <div class="spacer"></div>

    <div class="show-no-looks" ng-if="noLooks()">
    <h3>No Builds Added, Why don't you <a ui-sref="main">add one</a>?</h3>
    </div>

    <!-- Angular Grid -->
    <div class="container" infinite-scroll="nextPage()" infinite-scroll-disabled="busy || noMoreData" infinite-scroll-distance="0.5">
    <ul>
     <li data-ng-repeat="look in userLooks track by $index"
          class = "myLooks"
          ng-cloak>
            <a href="javascript:;"
            ng-click="editLook(look)"
            class="edit-look"
            data-animation="am-fade-and-scale"
            data-template-url="app/myLooks/edit_look_modal.html"
            bs-modal="showModal">
            <i class="fa fa-2x fa-pencil pull-right icon-edit"></i></a>
            <a href="javascript:;"
            class="edit-look"
            ng-click="delete(look)">
            <i class="fa fa-2x fa-trash-o pull-right icon-edit"
            data-title="DELETE Item - Cannot be Undone"
            bs-tooltip></i></a>
            <a ui-sref="look ({ lookId: look._id })"
                class="lookLink">
          <img ng-src="{{ look.image }}" class ='lookImg'/>    </a>
          <div class="look-description-trim">
            {{ look.description.substr(0,100) }}
          </div>
    <div class="titleClass">
      <a ui-sref="look ({ lookId: look._id })"
          class="lookLink">{{ look.title }}</a>
    </div>
</li>
</ul>
</div>
</div>
