.navbar-custom-internal a {
  color: #fff;
}
.navbar-inverse .navbar-logo {
  width: 220px;
}

.navbar-inverse {
  border: none;
  background-color: hsl(200, 18%, 80%);
}

a {
  color: #428bca;
}
#profile_icon {
  padding: 0;
  padding-bottom: 10px;
}
.page-header {
    margin: 0px 0 20px;
}

.label {
    padding: .1em .4em .0em;
    font-size: 95%;
}

.input-group-addon {
    background-color: white;
    border: none;
}

.navbar-brandi {
  float: left;
  padding: 0 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.gravatar-image {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}
.navbar-text {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: hsl(200, 18%, 20%);
    font-weight: bold;
}
.navbar-inverse .navbar-text {
    margin-top:0.7em;
    color: hsl(200, 18%, 20%);
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: hsl(200, 18%, 60%);
}

.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: hsl(200, 18%, 60%);
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: hsl(200, 18%, 60%);
}


@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
