<div class="container">
      <!-- Search, and Upload Button -->
      <div id="searchFilterWrap">
        <form id="searchForm">
          <input type="text"
                    id="searchBox"
                    placeholder="Search by title"
                    ng-model="searchTxt"
                    ng-model-options="{debounce : 600}" />
        </form>

        <div class="container modal-backdrop-am-fade"
              id="sortByWrap">
          <span ng-show="!isLoggedIn()"><strong> Login to <br>add builds!</strong></span>
          <button class="btn btn-primary"
                      data-animation="am-fade-and-scale"
                      data-placement="center"
                      data-template-url="app/main/addBuildModal.html"
                      ng-show="isLoggedIn()"
                      bs-modal="showModal">Add Build</button>
            </div>
          </div>

  <!-- Angular Grid -->
  <div class="container" infinite-scroll="nextPage()" infinite-scroll-disabled="busy || noMoreData" infinite-scroll-distance="0.5">
    <ul class="dynamic-grid angular-grid"
          angular-grid="builds"
          grid-width="275"
          gutter-size="10"
          angular-grid-id="gallery"
          refresh-on-img-load="true">
     <li data-ng-repeat="build in builds track by $index"
          class="grid"
          ng-cloak>
        <a ui-sref="build ({ buildId: build._id })"
            class="buildLink">
          <img ng-src="{{ build.image }}"
                  class="grid-img"
                  data-actual-width="{{ build.actualWidth }}"
                  data-actual-height="{{ build.actualHeight }}" />
          <div class="build-description-trim">
            {{ build.description.substr(0,100) }}
          </div>

          <div class="titleClass">
            {{ build.title }}
          </div>
        </a>
        <div class="social">
        <a href="#"
             class="like-build"
             ng-click="addVote(build)">
          <i class="fa fa-thumbs-o-up fa-2x icon-like"></i></a>
            <span class="likeCount">{{ build.upVotes }}</span>

            <span class="viewCount pull-right">{{ build.views }}</span>
          <i class="fa fa-eye fa-2x pull-right icon-views"></i>

        </div>
      </li>
    </ul>
    <div ng-show='busy'>Loading data...</div>
  </div>
</div>
